
<div class="col-12 col-sm-6 col-md-4">
  <div class="custom-control custom-checkbox">
    <input {% if '1' in permissoes.permissao %} checked {% endif %} class="custom-control-input" type="checkbox" name="checkboxSolicitacoes" id="checkboxSolicitacoes" value="1">
    <label for="checkboxSolicitacoes" class="custom-control-label">Solicitações</label>
  </div>
</div>

<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '2' in permissoes.permissao %} checked {% endif %}  class="custom-control-input" type="checkbox" name="checkboxMinhasTarefas" id="checkboxMinhasTarefas" value="2">
  <label for="checkboxMinhasTarefas" class="custom-control-label">Minhas Tarefas</label>
</div>
</div>

<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '3' in permissoes.permissao %} checked {% endif %}  class="custom-control-input" type="checkbox" name="checkboxTodasTarefas" id="checkboxTodasTarefas" value="3">
  <label for="checkboxTodasTarefas" class="custom-control-label">Todas as Tarefas</label>
</div>
</div>
<br>
<br>
<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '4' in permissoes.permissao %} checked {% endif %}  class="custom-control-input" type="checkbox" name="checkboxGerirTime" id="checkboxGerirTime" value="4">
  <label for="checkboxGerirTime" class="custom-control-label">Gerir Time</label>
</div>
</div>


<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '5' in permissoes.permissao %} checked {% endif %}  class="custom-control-input" type="checkbox" name="checkboxRealizarSolicitacoes" id="checkboxRealizarSolicitacoes" value="5">
  <label for="checkboxRealizarSolicitacoes" class="custom-control-label">Realizar Solicitações</label>
</div>
</div>

<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '6' in permissoes.permissao %} checked {% endif %} class="custom-control-input" type="checkbox" name="checkboxdesignarUsuario" id="checkboxdesignarUsuario" value="6">
  <label for="checkboxdesignarUsuario" class="custom-control-label">Designar Tarefas a Usuários</label>
</div>
</div>
<br>
<br>
<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '7' in permissoes.permissao %} checked {% endif %} class="custom-control-input" type="checkbox" name="checkboxSolicitarRevisao" id="checkboxSolicitarRevisao" value="7">
  <label for="checkboxSolicitarRevisao" class="custom-control-label">Solicitar Revisão de Tarefas</label>
</div>
</div>
<br>
<br>
<div class="col-12 col-sm-6 col-md-4">
<div class="custom-control custom-checkbox">
  <input {% if '8' in permissoes.permissao %} checked {% endif %} class="custom-control-input" type="checkbox" name="checkboxAprovarTarefa" id="checkboxAprovarTarefa" value="8">
  <label for="checkboxAprovarTarefa" class="custom-control-label">Aprovar e Enviar p/ Solicitante</label>
</div>
</div>
<div class="col-12 col-sm-6 col-md-4">
  <div class="custom-control custom-checkbox">
    <input {% if '9' in permissoes.permissao %} checked {% endif %} class="custom-control-input" type="checkbox" name="checkboxVisualizarTodoDepartamento" id="checkboxVisualizarTodoDepartamento" value="9">
    <label for="checkboxVisualizarTodoDepartamento" class="custom-control-label">Visualizar Demandas do Departamento</label>
  </div>
</div>
</div>


<br>
<br>



<div class="col-12 col-sm-6 col-md-6">
  <div class="custom-control custom-checkbox">
    <input {% if '10' in permissoes.permissao %} checked {% endif %} class="custom-control-input" type="checkbox" name="checkboxEditarDemanda" id="checkboxEditarDemanda" value="10">
    <label for="checkboxEditarDemanda" class="custom-control-label">Editar Demandas</label>
  </div>
</div>
<div class="col-12 col-sm-3 col-md-3">
<button type="button" data-toggle="modal" data-target="#modal-cadastrar-usuario" class="btn btn-block bg-gradient-dark btn-flat"><i class="fa fa-user" aria-hidden="true"></i>   Cadastrar Usuário</button>
</div>
<div class="col-12 col-sm-3 col-md-3">
<button type="submit" class="btn btn-block bg-gradient-dark btn-flat"><i class="fa fa-save" aria-hidden="true"></i>   Salvar</button>
</div>


</div>