{% extends 'menu.html' %}
{% load static %}
{% block content %}

<style>



  table {
  
  border: 1px solid #eee;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  }
  
  table thead th {
  
  padding: 10px;
  font-size: 1em;
  color: #000;
  font-weight: 600;
  }
  
  table tbody tr td {
  
  display: table-cell;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  position: relative;
  }
  
  table tbody tr {
  
  border: none;
  display: table-row;
  }
  
  table tbody tr:nth-child(odd) {
  
  background: #f2f2f2;
  }
  
  table tbody tr td button {
  
  display: inline-block;
  padding: 10px 15px;
  position: initial;
  transform: translate(0);
  width: auto;
  }
  
  table tbody tr td button {
  
  background: #4CAF50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  color: #fff;
  font-weight: 700;;
  padding: 10px 0;
  width: 100%;
  }
  
  table thead {
  
  display: table-header-group;
  font-weight: 500;
  }
  
  
  table tbody tr td:before {
  
  display: none;
  }
  
  table tbody tr td button:hover, table tbody tr td button:focus {
  
  background: #0C504B;
  color: #ffffff;
  cursor: pointer;
  }
  
  @media all and (max-width: 800px) {
  
  table tbody tr td {
  
      display: block;
      text-align: center;
  }
  
  table tbody tr td:before {
  
      content: attr(data-title);
      position: absolute;
      left: 15px;
      display: block;
      font-weight: 600;
      font-size: 1em;
  }
  
  table {
  
      border: none;
  }
  
  table thead {
  
      display: none;
  }
  
  table tbody tr {
  
      margin-bottom: 10px;
      display: block;
      border: 1px solid #dad6eb;
  }
  
  
  }
  
  </style>
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">BackLog</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Dashbboard</a></li>
              <li class="breadcrumb-item active">Backlog</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
   <div class="container-fluid">

                      <div class="row">

                        <div class="card" style="width: 100%;">
                            <div class="card-header" style="background-color: #fafafa;">
                                <h3 class="card-title" style="color:#000000; font-weight: bold;"><i class="nav-icon bi bi-send"></i> Gerenciamento de Entregas</h3>

                            </div>
                            
                                <div class="card-body">
                                  <div class="form-group" id="backlog_trello">
                                    <div class="row">
                                      
                                      <div class="col-12 col-sm-12 col-md-3" >
                                        <div class="card card-row card-secondary">
                                          <div class="card-header">
                                            <h3 class="card-title">
                                              A Fazer
                                            </h3>
                                          </div>
                                          <div class="card-body">
                                            {% for tarefa in tarefas %}
                                              {% if tarefa.status == 0 %}
                                              <div class="card card-secondary card-outline">
                                                <div class="card-header">
                                                  <h5 class="card-title"><b>#{{tarefa.id}} Prazo: {{tarefa.prazo_entrega|date:'d/m/Y'}} </b></h5>
                                                  <div class="card-tools">
                                                    <span  class="btn btn-tool btn-link"> {% if tarefa.prioridade == 2 %} <span class="badge bg-danger">URGENTE</span>{% endif %}</span>
                                                    <a onclick="modalTarefa('{{tarefa.id}}')" class="btn btn-tool">
                                                      <i class="bi bi-eye-fill"></i>
                                                    </a>
                                                  </div>
                                                </div>
                                                <div class="card-body">
                                                  {{tarefa.titulo_tarefa}}
                                                </div>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-12 col-sm-12 col-md-3" >
                                        <div class="card card-row card-info">
                                          <div class="card-header">
                                            <h3 class="card-title">
                                              Fazendo
                                            </h3>
                                          </div>
                                          <div class="card-body">
                                            {% for tarefa in tarefas %}
                                              {% if tarefa.status == 1 %}
                                              <div class="card card-secondary card-outline">
                                                <div class="card-header">
                                                  <h5 class="card-title"><b>#{{tarefa.id}} Prazo: {{tarefa.prazo_entrega|date:'d/m/Y'}} </b></h5>
                                                  <div class="card-tools">
                                                    <span  class="btn btn-tool btn-link"> {% if tarefa.prioridade == 2 %} <span class="badge bg-danger">URGENTE</span>{% endif %}</span>
                                                    <a onclick="modalTarefa('{{tarefa.id}}')" class="btn btn-tool">
                                                      <i class="bi bi-eye-fill"></i>
                                                    </a>
                                                  </div>
                                                </div>
                                                <div class="card-body">
                                                  {{tarefa.titulo_tarefa}}
                                                </div>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-12 col-sm-12 col-md-3" >
                                        <div class="card card-row card-danger">
                                          <div class="card-header">
                                            <h3 class="card-title">
                                              Para Revisão
                                            </h3>
                                          </div>
                                          <div class="card-body">
                                            {% for tarefa in tarefas %}
                                              {% if tarefa.status == 2 %}
                                              <div class="card card-secondary card-outline">
                                                <div class="card-header">
                                                  <h5 class="card-title"><b>#{{tarefa.id}} Prazo: {{tarefa.prazo_entrega|date:'d/m/Y'}} </b></h5>
                                                  <div class="card-tools">
                                                    <span  class="btn btn-tool btn-link"> {% if tarefa.prioridade == 2 %} <span class="badge bg-danger">URGENTE</span>{% endif %}</span>
                                                    <a onclick="modalTarefa('{{tarefa.id}}')" class="btn btn-tool">
                                                      <i class="bi bi-eye-fill"></i>
                                                    </a>
                                                  </div>
                                                </div>
                                                <div class="card-body">
                                                  {{tarefa.titulo_tarefa}}
                                                </div>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                      

                                      <div class="col-12 col-sm-12 col-md-3" >
                                        <div class="card card-row card-success">
                                          <div class="card-header">
                                            <h3 class="card-title">
                                              Feito
                                            </h3>
                                          </div>
                                          <div class="card-body">
                                            {% for tarefa in tarefas %}
                                              {% if tarefa.status == 3 %}
                                              <div class="card card-secondary card-outline">
                                                <div class="card-header">
                                                  <h5 class="card-title"><b>#{{tarefa.id}} Prazo: {{tarefa.prazo_entrega|date:'d/m/Y'}} </b></h5>
                                                  <div class="card-tools">
                                                    <span  class="btn btn-tool btn-link"> {% if tarefa.prioridade == 2 %} <span class="badge bg-danger">URGENTE</span>{% endif %}</span>
                                                    <a onclick="modalTarefa('{{tarefa.id}}')" class="btn btn-tool">
                                                      <i class="bi bi-eye-fill"></i>
                                                    </a>
                                                  </div>
                                                </div>
                                                <div class="card-body">
                                                  {{tarefa.titulo_tarefa}}
                                                </div>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                            
                                </div>
                                <!-- /.card-body -->
                    
                        </div>

                      </div>
                </div>
                
            </div>


    </div>


</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
  <form id="formTarefas" method="POST"  enctype="multipart/form-data">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" onclick="fecharModal('exampleModalCenter')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This is a vertically centered modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="fecharModal('exampleModalCenter')">Fechar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </form>
</div>

        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->


      

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script>

function modalTarefa(tarefaId){

        url = '/ajax/view-task'
        
        $.ajax({
        url: url,
        data: {'tarefaId':tarefaId},

        success: function(data) {

          $("#exampleModalCenter").html(data);
          $("#exampleModalCenter").modal('show')
        },
        error: function(xhr, status, error) {
          Swal.fire({
                icon: 'error',
                title: 'Ops!',
                text: 'Não foi possível obter resultados!'
              });
        }
      });
      }

function MoveTarefa(taskId,step){
  var entrega = $("#entrega_backlog").val();
    var XCSRFToken = '{{ csrf_token }}';
    
    var formData = new FormData();
    var fileInput = document.getElementById('arquivos_task');

    if (fileInput){
      for (var i = 0; i < fileInput.files.length; i++) {
        formData.append('files[]', fileInput.files[i]);
    }
    }
    // Adicione os arquivos selecionados ao objeto FormData
  
    
    formData.append('taskId', taskId);
    formData.append('step', step);
    formData.append('entrega', entrega);
    
    $.ajax({
        url: '/ajax/move-task',
        type: 'post',
        headers: { "X-CSRFToken": XCSRFToken },
        data: formData,
        processData: false, // Não processar os dados
        contentType: false, // Não definir o tipo de conteúdo
        success: function (data) {
            $("#backlog_trello").html(data);
            Swal.fire({
                icon: 'success',
                title: 'Tarefa Movida!',
                text: 'A tarefa foi movida com sucesso!'
            });
            $("#exampleModalCenter").modal('hide');
        },
        error: function (xhr, status, error) {
            Swal.fire({
                icon: 'error',
                title: 'Ops!',
                text: 'Não foi possível obter resultados!'
            });
        }
    });
    // url = '/ajax/move-task'
    // entrega = $("#entrega_backlog").val()
    
    // console.log(entrega)
    // var XCSRFToken = '{{ csrf_token }}'

    // $.ajax({
    // url: url,
    // type:"post",
    // headers: { "X-CSRFToken":  XCSRFToken },
    // data: {'taskId':taskId,'step':step,'entrega':entrega},

    // success: function(data) {

    //   $("#backlog_trello").html(data);
    //   Swal.fire({
    //                 icon: 'success',
    //                 title: 'Tarefa Movida!',
    //                 text: 'A terefa foi movida com sucesso!'
    //             });
    //   $("#exampleModalCenter").modal('hide')
    // },
    // error: function(xhr, status, error) {
    //   Swal.fire({
    //         icon: 'error',
    //         title: 'Ops!',
    //         text: 'Não foi possível obter resultados!'
    //       });
    // }
    // });
  }

function fecharModal(id){
  $("#exampleModalCenter").modal('hide')
}

</script>
{% endblock %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
