{% extends 'menu.html' %}
{% load static %}
{% block content %}
<style>



  table {
  
    border: 1px solid #cacaca;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  }
  
  table thead th {
  
  padding: 10px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  }
  
  table tbody tr td {
  
  display: table-cell;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  position: relative;
  }

  
  
  table tbody tr {
  
  border: 1px solid #cacaca;
  display: table-row;
  }
  
  table tbody tr:nth-child(odd) {
  
  background: #dddddd4a;
  }
  
  table tbody tr td button {
  
  display: inline-block;
  padding: 10px 15px;
  position: initial;
  transform: translate(0);
  width: auto;
  }
  
  table tbody tr td button {
  
  background: #4CAF50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  color: #fff;
  font-weight: 700;;
  padding: 10px 0;
  width: 100%;
  }
  
  table thead {
  
  display: table-header-group;
  font-weight: 500;
  }
  
  table tbody tr:hover {
    background-color: #7e7e7e8d; /* Cor de fundo quando o mouse passa por cima */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}
  
  table tbody tr td:before {
  
  display: none;
  }
  
  table tbody tr td button:hover, table tbody tr td button:focus {
  
  background: #0C504B;
  color: #ffffff;
  cursor: pointer;
  }
  
  @media all and (max-width: 800px) {
  
  table tbody tr td {
  
      display: block;
      text-align: center;
  }
  
  table tbody tr td:before {
  
      content: attr(data-title);
      position: absolute;
      left: 15px;
      display: block;
      font-weight: 600;
      font-size: 1em;
  }
  
  table {
  
      border: none;
  }
  
  table thead {
  
      display: none;
  }
  
  table tbody tr {
  
      margin-bottom: 10px;
      display: block;
      border: 1px solid #dad6eb;
  }
  
  
  }

  .modal-dialog-full {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  
  .modal-content-full {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  
  .modal-body-full {
    overflow-y: auto;
  }
 

  
  </style>
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
    
      

          
      <div class="card">
        <div class="modal-header">
            <h5 class="modal-title">{% if solicitacao.evento_json.tipo_formatado == None %}
              Não Informado
              {% else %}
              {{solicitacao.evento_json.tipo_formatado}}
              {% endif %}</h5>
        
          </div>
        <!-- /.card-header -->
        <div class="card">
          {% if messages %}
          {% for message in messages%}
          <div {% if message.tags %} class="{{ message.tags }}"{% endif %} style="text-align: center;" role="alert">
          {{message}}
          </div>
          {% endfor %}
          {% endif  %}
          <!-- /.card-header -->
          
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4 col-12">

                    <div class="small-box" style="background-color: #ffffff; color: #17A2B8">
                      <div class="inner" style="text-align: center;">
                        <h4>{{ solicitacao.get_projeto_display }}</h4>
                      </div>
                   
                      <div style="background-color: #17A2B8;color: #FFF; cursor: pointer;" class="small-box-footer">PROJETO</div>
                    </div>
                 
                  </div>
            
                  <div class="col-lg-4 col-12">
            
                    <div class="small-box" style="background-color: #ffffff; color: #17A2B8">
                      <div class="inner" style="text-align: center;">
                        <h4>{{ solicitacao.data_solicitacao|date:'d/m/Y' }}</h4>
                      </div>
                   
                      <div style="background-color: #17A2B8;color: #FFF;" class="small-box-footer">DATA DA SOLICITAÇÃO</div>
                    </div>
                 
                  </div>
            
                  <div class="col-lg-4 col-12">
            
                    <div class="small-box" style="background-color: #ffffff; color: #17A2B8">
                      <div class="inner" style="text-align: center;">
                        <h4>{{ solicitacao.criado_por.first_name }}</h4>
                      </div>
                   
                      <div style="background-color: #17A2B8;color: #FFF;" class="small-box-footer">SOLICITANTE</div>
                    </div>
                 
                  </div>

                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="card" style="width: 100%;">
                        <div class="card-header" style="background-color: #fafafa;">
                          <label for="">Informações do Evento</label>
                          
                        </div>
                          
                        <div class="card-body">
                         <div class="row">
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Evento:</label>
                                <div class="input-group">
                                  {% if solicitacao.evento_json.tipo_formatado == None %}
                                  Não Informado
                                  {% else %}
                                  {{solicitacao.evento_json.tipo_formatado}}
                                  {% endif %}
                                  
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>
            
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Data de Início:</label>
                                <div class="input-group">
                                  {% if solicitacao.evento_json.data_inicio_formatada == None %}
                                  Não Informado
                                  {% else %}
                                  {{solicitacao.evento_json.data_inicio_formatada}}
                                  {% endif %}
                                  
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>
            
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Data Final:</label>
                                <div class="input-group">
                                  {% if solicitacao.evento_json.data_fim_formatada == None %}
                                  Não Informado
                                  {% else %}
                                  {{solicitacao.evento_json.data_fim_formatada}}
                                  {% endif %}
                                  
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>
            
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Logradouro:</label>
                                <div class="input-group">
                                  {% if solicitacao.evento_json.logradouro == None %}
                                  Não Informado
                                  {% else %}
                                  {{solicitacao.evento_json.logradouro}}
                                  {% endif %}
                                  
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>
            
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Bairro:</label>
                                <div class="input-group">
                                  {% if solicitacao.evento_json.bairro == None %}
                                  Não Informado
                                  {% else %}
                                  {{solicitacao.evento_json.bairro}}
                                  {% endif %}
                                  
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>
            
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Complemento:</label>
                                <div class="input-group">
                                 {% if solicitacao.evento_json.complemento == None %}
                                 Não Informado
                                 {% else %}
                                 {{solicitacao.evento_json.complemento}}
                                 {% endif %}
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>
                          <div class="col-lg-3 col-12">
                            <div class="form-group">
                                <label>Cidade:</label>
                                <div class="input-group">
                                 {% if solicitacao.evento_json.CIDADE == None %}
                                 Não Informado
                                 {% else %}
                                 {{solicitacao.evento_json.cidade}}
                                 {% endif %}
                              
                                </div>
                                <!-- /.input group -->
                            </div>
                          </div>

                          {% if programacao_adicional %}
                          <div class="col-12 col-sm-12 col-md-12">
                            <div class="card" style="width: 100%;">
                                <div class="card-header" style="background-color: #fafafa;">
                                  <label for="">Programação do Evento</label>
                                  
                                </div>
                                  
                                <div class="card-body">
                                 <div class="row">
                                    <table style="margin-top: 10px;">
                                        <thead>
                                          <tr>
                                            <th>Data</th>
                                            <th>Hora</th>
                                            <th>Hora Final</th>
                                            <th>Atividade</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                
                                            {% for programacao in programacao_adicional %}
                                            <tr>
                                                <td>{{programacao.data|date:'d/m/Y'}}</td>
                                                <td>{{programacao.hora}}</td>
                                                <td>{{programacao.hora_final}}</td>
                                                <td>{{programacao.atividade}}</td>
                                            {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                 </div>
                                </div>
                            </div>
                          </div>
                          {% endif %}
                          <div class="col-12 col-sm-12 col-md-12">
                            <div class="card" style="width: 100%;">
                                <div class="card-header" style="background-color: #fafafa;">
                                  <label for="">Demandas Solicitadas</label>
                                  
                                </div>
                                  
                                <div class="card-body">
                                 <div class="row">
                                  {% for entregavel in entregaveis %}
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div id="accordion">
                                            <div {% if entregavel.status == "0" %} class="card card-warning" {% elif entregavel.status == "1" %} class="card card-danger" {% else %} class="card card-success" {% endif %}>
                                                <div class="card-header">
                                                    <h4 class="card-title w-100">
                                                        <a style=" font-size: 20px;" class="d-block w-100" data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="true">
                                                           #{{entregavel.id}} {{entregavel.get_tipoentregavel_display}} - PRAZO ATÉ (<b>{{entregavel.prazo|date:'d/m/Y'}}</b>) - {{entregavel.get_status_display}}
                                                       {% if entregavel.status == '2' %}
                                                       <span style="float: right; font-size: 20px;" class="bi bi-check2-circle"></span>
                                                       {% else %}
                                                       <span style="float: right; font-size: 20px;" class="bi bi-hourglass-bottom"></span>
                      
                                                       {% endif %}
                                                      
                                                        </a>
                                                      
                                                     
                                                    </h4>
                                                </div>
                                                <div id="collapse{{ forloop.counter }}" class="collapse" data-parent="#accordion" style="">
                                                    <div class="card-body">

                                                      <div class="row" style="margin-bottom: 3%;">
                                                        <div class="col-lg-2 col-12">
                                                            <button type="button" class="btn btn-block btn-success"><i class="bi bi-check2-circle"></i> Aprovado pelo Cliente</button>
                                                        </div>
                                                        <div class="col-lg-2 col-12">
                                                            <button type="button" class="btn btn-block btn-dark"><i class="bi bi-search"></i> Solicitar Revisão</button>
                                                        </div>
                                                        <div class="col-lg-2 col-12">
                                                            <button type="button" class="btn btn-block btn-dark"><i class="bi bi-eye-fill"></i> Visualizar Demanda</button>
                                                        </div>
                                                      </div>


                                                        <div class="row">
                                                        <div class="col-lg-2 col-12">
                                                          <div class="form-group">
                                                              <label>Tipo do Entregável:</label>
                                                              <div class="input-group">
                                                                {% if entregavel.get_tipoentregavel_display %}
                                                                {{entregavel.get_tipoentregavel_display}}
                                                                {% else %}
                                                                Não Informado
                                                                {% endif %}
                                                                
                                                            
                                                              </div>
                                                              <!-- /.input group -->
                                                          </div>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 col-12">
                                                          <div class="form-group">
                                                              <label>Categoria do Produto:</label>
                                                              <div class="input-group">
                                                                {% if entregavel.get_tipoproduto_display %}
                                                                {{entregavel.get_tipoproduto_display}}
                                                                {% else %}
                                                                Não Informado
                                                                {% endif %}
                                                                
                                                            
                                                              </div>
                                                              <!-- /.input group -->
                                                          </div>
                                                        </div>
                    
                                                        <div class="col-lg-2 col-12">
                                                          <div class="form-group">
                                                              <label>Tipo do Produto:</label>
                                                              <div class="input-group">
                                                                {% if entregavel.categoria_produto %}
                                                                {{entregavel.categoria_produto}}
                                                                {% else %}
                                                                Não Informado
                                                                {% endif %}
                                                                
                                                            
                                                              </div>
                                                              <!-- /.input group -->
                                                          </div>
                                                        </div>
                    
                                                        <div class="col-lg-2 col-12">
                                                          <div class="form-group">
                                                              <label>Data da Solicitação:</label>
                                                              <div class="input-group">
                                                                {% if entregavel.data_solicitacao %}
                                                                {{entregavel.data_solicitacao|date:'d/m/Y'}}
                                                                {% else %}
                                                                Não Informado
                                                                {% endif %}
                                                                
                                                            
                                                              </div>
                                                              <!-- /.input group -->
                                                          </div>
                                                        </div>
                                                        <div class="col-lg-2 col-12">
                                                          <div class="form-group">
                                                              <label>Solicitante:</label>
                                                              <div class="input-group">
                                                                {% if entregavel.criado_por %}
                                                                {{entregavel.criado_por.first_name}}
                                                                {% else %}
                                                                Não Informado
                                                                {% endif %}
                                                                
                                                            
                                                              </div>
                                                              <!-- /.input group -->
                                                          </div>
                                                        </div>
                    
                                                        <div class="col-lg-2 col-12">
                                                          <div class="form-group">
                                                              
                                                              <div class="input-group">
                                                                <button onclick="modalTarefas('{{entregavel.id}}','{{ forloop.counter }}')" type="button" class="btn btn-block bg-gradient-dark"><b> <i class="fas fa-user"></i> Designar Usuário</b></button>
                                                                
                                                            
                                                              </div>
                                                              <!-- /.input group -->
                                                          </div>
                                                        </div>
                    
                                                       
                                                        {% if entregavel.descricao_audio_visual %}
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                          <div class="card" style="width: 100%;">
                                                              <div class="card-header" style="background-color: #fafafa;">
                                                                <label for="">Descrição Audiovisual</label>
                                                                
                                                              </div>
                                                                
                                                              <div class="card-body">
                                                               <div class="row">
                                                                {% if entregavel.descricao_audio_visual %}
                                                                {{entregavel.descricao_audio_visual|safe}}
                                                                {% else %}
                                                                Sem descrições
                                                                {% endif %}
                                                               </div>
                                                              </div>
                                                          </div>
                                                        </div>
                    
                                                       
                                                        {% endif %}
                    
                                                        {% if entregavel.observacao %}
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                          <div class="card" style="width: 100%;">
                                                              <div class="card-header" style="background-color: #fafafa;">
                                                                <label for="">Observações Gerais</label>
                                                                
                                                              </div>
                                                                
                                                              <div class="card-body">
                                                               <div class="row">
                                                                {% if entregavel.observacao %}
                                                                {{entregavel.observacao|safe}}
                                                                {% else %}
                                                                Sem observações
                                                                {% endif %}
                                                               </div>
                                                              </div>
                                                          </div>
                                                        </div>
                    
                                                       
                                                        {% endif %}
                    
                                                        {% if entregavel.exemplo_arte %}
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                          <div class="card" style="width: 100%;">
                                                              <div class="card-header" style="background-color: #fafafa;">
                                                                <label for="">Exemplos de Artes</label>
                                                                
                                                              </div>
                                                                
                                                              <div class="card-body">
                                                               <div class="row">
                                                                <div class="col-sm-2">
                                                                  
                                                                  <a href="{{entregavel.exemplo_arte}}" data-toggle="lightbox" data-title="Exemplo de Arte" data-gallery="gallery">
                                                                    <img src="{{entregavel.exemplo_arte}}" class="img-fluid mb-2" alt="white sample"/>
                                                                  </a>
                    
                                                                </div>
                                                               </div>
                    
                                                              </div>
                                                          </div>
                                                        </div>
                                                        {% endif %}
                    
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                          <div class="card" style="width: 100%;">
                                                              <div class="card-header" style="background-color: #fafafa;">
                                                                <label for="">Tarefas Designadas</label>
                                                                
                                                              </div>
                                                                
                                                              <div class="card-body">
                                                               <div class="row">
                                                                <table style="margin-top: 10px;">
                                                                  <thead>
                                                                    <tr>
                                                                      <th>#</th>
                                                                      <th>Data da Solicitação</th>
                                                                      <th>Prazo de Entrega</th>
                                                                      <th>Data da Entrega</th>
                                                                      <th>Usuário Designado</th>
                                                                      <th>Prioridade</th>
                                                                      <th>Status</th>
                                                                     
                                              
                                                                      
                                                                    </tr>
                                                                  </thead>
                                                                  <tbody id="tbl_tarefas_{{ forloop.counter }}">
                                                          
                                                                   {% for tarefa in entregavel.tarefas_relacionadas %}

                                                                      <tr>
                                          
                                                                       <td>#{{tarefa.id}}</td>
                                                                       <td>{{tarefa.data_tarefa|date:'d/m/Y'}}</td>
                                                                       <td>{{tarefa.prazo_entrega|date:'d/m/Y'}}</td>
                                                                       <td>{% if tarefa.data_entrega %} {{tarefa.data_entrega|date:'d/m/Y'}} {%else%} Aguardando Entrega {% endif %}</td>
                                                                       <td>{{tarefa.usuario.first_name}}</td>
                                                                       <td>{% if tarefa.prioridade == 1 %}   <span class="badge bg-primary" style="padding: 5px; width: 100%;"> {{tarefa.get_prioridade_display}}</span> {% else %} <span class="badge bg-danger" style="padding: 5px; width: 100%;"> {{tarefa.get_prioridade_display}}</span>{% endif %}</td>
                                                                       
                                                                       <td>
                                                                        {% if tarefa.status == 0 %}
                                                                        <span class="badge bg-warning" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>

                                                                          {% elif tarefa.status == 1 %}
                                                                          <span class="badge bg-danger" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>
                                                                         
                                                                          {% elif tarefa.status == 2 %}
                                                                          <span class="badge bg-success" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>
                                                                        {% endif %}
                                                                       </td>
                    
                                                                 
                                                                      </tr>
                                                                      {% endfor %}
                                                                    
                                                                  </tbody>
                                                                  
                                                                </table>
                                                               </div>
                                                              </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                    
                                 </div>
                                </div>
                            </div>
                          </div>

                         
                         </div>
                        </div>
                        
                                
            
                        </div>
                          
                  </div>
                 

              </div>
              <br>
    
              
              
              <br><br><br>
              <!-- /.input group -->
            </div>
            
        
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card-body -->
      </div>

    </div><!-- /.container-fluid -->
    
  </section>

<!-- Full screen modal -->
<div class="modal fade modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog-full" role="document">
    <div class="modal-content-full">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-full">
      teste
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
  <form id="formTarefas" method="POST"  enctype="multipart/form-data">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" onclick="fecharModal('exampleModalCenter')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This is a vertically centered modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="fecharModal('exampleModalCenter')">Fechar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal fade" id="modalEditTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleEdit">Designar Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
        <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
        <label>Título da Tarefa:</label>
      
        <div class="input-group">
          
            <input type="text" value="" id="tituloTarefa_edit"  class="form-control" name="tituloTarefa">
            <input style="display: none;" type="text" value="" id="id_entregavel"  class="form-control" name="id_entregavel">
            <input style="display: block;" type="text" value="" id="num_tbl"  class="form-control" name="num_tbl">
        </div>
        <!-- /.input group -->
        </div>
      </div>


      <input style="display: none;" type="text" value="" id="entregavel_id"  class="form-control" name="entregavel_id">

      <div class="col-12 col-sm-12 col-md-4">
        <div class="form-group">
        <label>Designar Usuário:</label>
      
        <div class="input-group">

            <select style="width: 100%;"  class="form-control select2" id="designar_usuario_edit" name="designar_usuario_edit" required>
                {% for usuario in usuarios %}
                 <option value="{{usuario.id}}">{{usuario.first_name}}</option>
                {% endfor %}
              </select>
        </div>
        <!-- /.input group -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4">
        <div class="form-group">
        <label>Prioridade:</label>
      
        <div class="input-group">
          
            <select  class="form-control" id="prioridade_edit" name="prioridade_edit">
                <option selected value="1">Normal</option>
                <option value="2">Prioridade</option>
              </select>
        </div>
        <!-- /.input group -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4">
        <div class="form-group">
        <label>Prazo para Entrega:</label>

        <div class="input-group">
          
            <input type="date" id="prazo_entrega_edit"   class="form-control" name="prazo_entrega_edit">
        </div>
        <!-- /.input group -->
        </div>
      </div>
      
     

      <div class="col-12 col-sm-12 col-md-12">
        <div class="col-md-12">
          <div class="card card-dark card-outline">
            <div class="card-header">
              <h3 class="card-title">Descrição da Tarefa:</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            
              <div class="form-group">
                  <textarea  id="descricao_tarefa_edit" name="descricao_tarefa_edit" class="form-control summernote" style="height: 300px">
                    
                  </textarea>
              </div>
            
            </div>
            <!-- /.card-body -->
          
          </div>
          <!-- /.card -->
        </div>
      </div>

      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button"n onclick="designarUsuario()" class="btn btn-primary">Designar Usuário</button>
      </div>
 
    </div>
  </div>
</div>

<script>
    function designarUsuario(){
        var titulo_tarefa = $("#tituloTarefa_edit").val()
        var usuario_designado = $("#designar_usuario_edit").val()
        console.log(usuario_designado)
        var prioridade = $("#prioridade_edit").val()
        var prazo_entrega = $("#prazo_entrega_edit").val()
        var descricao = $("#descricao_tarefa_edit").val()
        var entregavelId = $("#id_entregavel").val()
        var tbl = $("#num_tbl").val()

        var XCSRFToken = '{{ csrf_token }}';
        url = '/ajax/criar-tarefas'
        
        $.ajax({
            url: url,
            type: "post",
            data: {
                "titulo": titulo_tarefa,
                "usuario": usuario_designado,
                "prioridade": prioridade,
                "prazo_entrega": prazo_entrega,
                "descricao_tarefa": descricao,
                "idEntregavel": entregavelId
            },
            headers: { "X-CSRFToken": XCSRFToken },
            success: function (data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Tarefa Criada!',
                    text: "Tarefa criada e designada com sucesso!"
                }).then((result) => {
                    // Ação a ser realizada após o botão "OK" ser clicado
                    if (result.isConfirmed) {
                        // Redirecionar ou atualizar a página aqui
                        location.reload(); // Isso atualizará a página
                    }
                });
            },
            error: function (data) {
                if (data.responseJSON && data.responseJSON.error_message) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ops!',
                        text: data.responseJSON.error_message
                    });
                }
            }
        });

    }

    function modalTarefas(entregavelId,counter_loop){
        document.getElementById('id_entregavel').value = entregavelId
        document.getElementById('num_tbl').value = counter_loop
        $("#modalEditTask").modal("show")
    }
</script>

  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

  {% endblock %}
