{% for tarefa in tarefas %}
<td>#{{tarefa.id}}</td>
<td>{{tarefa.data_tarefa|date:'d/m/Y'}}</td>
<td>{{tarefa.prazo_entrega|date:'d/m/Y'}}</td>
<td>{% if tarefa.data_entrega %} {{tarefa.data_entrega|date:'d/m/Y'}} {%else%} Aguardando Entrega {% endif %}</td>
<td>{{tarefa.usuario.first_name}}</td>
<td>{% if tarefa.prioridade == 1 %}   <span class="badge bg-primary" style="padding: 5px; width: 100%;"> {{tarefa.get_prioridade_display}}</span> {% else %} <span class="badge bg-danger" style="padding: 5px; width: 100%;"> {{tarefa.get_prioridade_display}}</span>{% endif %}</td>

<td>
 {% if tarefa.status == 0 %}
 <span class="badge bg-warning" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>

   {% elif tarefa.status == 1 %}
   <span class="badge bg-danger" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>
  
   {% elif tarefa.status == 2 %}
   <span class="badge bg-success" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>
 {% endif %}
</td>


</tr>
{% endfor %}