<style>
  .file-icon {
    font-size: 24px;
    margin-right: 10px;
}

.remove-button {
    cursor: pointer;
    color: red;
}
</style>
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_negative">Editar Solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <form id="formEditSol">
      <div class="modal-body">
        <div class="row">
        
      <input style="display: none;" type="text" value="{{solicitacao.id}}" id="solicitacaoID"  class="form-control" name="solicitacaoID">


      <div class="card-body">
        <div class="form-group" id="save_the_date_container" >
            <div class="row">
                      
            <div class="card" style="width: 100%;">
              <div class="card-header" style="background-color: #fafafa;">
                  <h3 class="card-title" style="color:#000000; font-weight: bold;"><i class="nav-icon fa fa-file"></i> {{solicitacao.evento_json.titulo_evento}}</h3>
                  
              </div>
      
              <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3">
                        <div class="form-group">
                    
                        <label>Projeto:</label>
                            
                          <div class="input-group">
                            <select style="width: 100%;"  class="form-control select2" id="projeto_altera" name="projeto_altera" required>
                                <option value="1" {% if solicitacao.tipo_projeto == 1 %} selected {% endif %}>EFG</option>
                                <option value="2" {% if solicitacao.tipo_projeto == 2 %} selected {% endif %}>COTEC</option>
                                <option value="3" {% if solicitacao.tipo_projeto == 3 %} selected {% endif %}>CETT</option>
                                <option value="4" {% if solicitacao.tipo_projeto == 4 %} selected {% endif %}>BASILEU</option>
                              </select>
                          </div>
                          <!-- /.input group -->
                          </div>
                        </div>


              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                <label>Solicitante:</label>

                <div class="input-group">
                   
                    <select style="width: 100%;"  class="form-control select2" id="solicitante_altera" name="solicitante_altera" required>
                        {% for usuario in usuarios %}
                            <option value="{{usuario.id}}" {% if solicitacao.criado_por_id == usuario.id %} selected {% endif %}>{{usuario.first_name}}</option>
                        {% endfor %}
                      </select>
                </div>
                <!-- /.input group -->
                </div>
              </div>
            
          
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
              <label>Título do Evento:</label>

              <div class="input-group">
              <input value="{{solicitacao.evento_json.titulo_evento}}" class="form-control" type="text" name="titulo_evento_altera" id="titulo_evento_altera">
              </div>
              <!-- /.input group -->
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                <label>Data Início: </label>
  
                <div class="input-group">
                <input type="date" value="{{solicitacao.evento_json.data_inicio|date:'Y-m-d'}}" class="form-control" type="text" name="data_inicio_altera" id="data_inicio_altera">
                </div>
                <!-- /.input group -->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                <label>Data Final:</label>
  
                <div class="input-group">
                <input type="date" value="{{solicitacao.evento_json.data_fim|date:'Y-m-d'}}" class="form-control" type="text" name="data_final_altera" id="data_final_altera">
                </div>
                <!-- /.input group -->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group">
                <label>Público do Evento:</label>
  
                <div class="input-group">
                <input required value="{{solicitacao.publico_evento}}" class="form-control" type="text" name="publico_evento_altera" id="publico_evento_altera">
                </div>
                <!-- /.input group -->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                <label>Prazo de Entrega:</label>
  
                <div class="input-group">
                <input required value="{{solicitacao.prazo_entrega|date:'Y-m-d'}}"  class="form-control" type="date" name="prazo_entrega_solicitacao" id="prazo_entrega_solicitacao">
                </div>
                <!-- /.input group -->
                </div>
              </div>

              
              <div class="col-12 col-sm-12 col-md-9">
                <div class="form-group">
                <label>Unidade:</label>
  
                <div class="input-group">
                    <select style="width: 100%;"  class="form-control select2" id="escola_altera" name="escola_altera" required>
                        {% for unidade in unidades %}
                            <option value="{{unidade.id}}" {% if solicitacao.evento_json.escola == unidade.id|stringformat:"d" %} selected {% endif %}>{{unidade.nome}} - {{unidade.convenio}}</option>
                        {% endfor %}
                      </select>
                </div>
                <!-- /.input group -->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12" id="endereco_escola">
                <div class="form-group">
                  <label>Endereço:</label>
            
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i style="color: #000000" class="fa fa-map"></i></span>
                     
                    </div>
                    <input type="text" value="{{solicitacao.evento_json.endereco}}" required id="endereco_escola_altera"  class="form-control" name="endereco_escola_altera">
                  </div>
                  <!-- /.input group -->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12">
                <div class="form-group">
                <label>Briefing:</label>
              
      

                    <textarea required name="briefing_solicitacao" id="briefing_solicitacao" class="form-control summernote" style="width: 100%;"></textarea>
  
                </div>
              </div>


              
                        </div>

              </div>
              </div>
            </div>

      </div>
        
      </div>

      </div>
    </div>
</form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button"n onclick="AlteraSolicitacao()" class="btn btn-primary">Alterar Solicitação</button>
      </div>
 
    </div>
  </div>
<script>

  var briefing = '{{solicitacao.briefing|escapejs}}'
  console.log(briefing)


    $("#escola").on("change", function() {
      console.log('entrou')
      var idEscola = $(this).val();
      url = '/ajax/load-endereco-escola'
      
      $.ajax({
      url: url,
      data: {'idEscola':idEscola},
      
      beforeSend: function() {
          // exibe o spinner com fundo escuro enquanto aguarda a resposta
          $('#spinner-background').show();
        },
      success: function(data) {

        $("#endereco_escola").html(data);
      },
      complete: function() {
          // esconde o spinner com fundo escuro quando a resposta é recebida
          $('#spinner-background').hide();
        },
      error: function(xhr, status, error) {
        Swal.fire({
              icon: 'error',
              title: 'Ops!',
              text: 'Não foi possível obter resultados!'
            });
      }
    });

 });

 function AlteraSolicitacao() {
  const url = "/ajax/altera-entregavel";
  var formData = new FormData(formEditSol);

  var solicitacaoID = document.getElementById('solicitacaoID').value;
  var projeto = document.getElementById('projeto_altera').value;
  var solicitante = document.getElementById('solicitante_altera').value;
  var titulo_evento = document.getElementById('titulo_evento_altera').value;
  var data_inicio = document.getElementById('data_inicio_altera').value;
  var data_fim = document.getElementById('data_final_altera').value;
  var publico_evento = document.getElementById('publico_evento_altera').value;
  var unidade = document.getElementById('escola_altera').value;
  var endereco = document.getElementById('endereco_escola_altera').value;
  var briefing = document.getElementById('briefing_solicitacao').value;


  if (solicitacaoID) {
    formData.append('solicitacaoID', solicitacaoID);
  }

  if (projeto) {
    formData.append('projeto', projeto);
  }

  if (solicitante) {
    formData.append('solicitante', solicitante);
  }

  if (titulo_evento) {
    formData.append('titulo_evento', titulo_evento);
  }

  if (data_inicio) {
    formData.append('data_inicio', data_inicio);
  }

  if (data_fim) {
    formData.append('data_fim', data_fim);
  }

  if (publico_evento) {
    formData.append('publico_evento', publico_evento);
  }

  if (unidade) {
    formData.append('unidade', unidade);
  }

  if (endereco) {
    formData.append('endereco', endereco);
  }

  if (briefing) {
    formData.append('briefing', briefing);
  }


  console.log(formData);
  Swal.fire({
    title: 'Tem certeza?',
    text: 'Deseja realmente alterar esta solicitação?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'Sim',
    cancelButtonText: 'Não'
  }).then((result) => {
    if (result.isConfirmed) {
      var XCSRFToken = '{{ csrf_token }}';

      $.ajax({
        url: url,
        type: "post",
        data: formData,
        headers: { "X-CSRFToken":  XCSRFToken },
        processData: false, // Evitar que o jQuery processe o FormData
        contentType: false, // Evitar que o jQuery defina o Content-Type
        success: function (data) {
          $("#gerenciador_de_arquivos").html(data);
          document.getElementById('fileDisplay').innerHTML = '';
          Swal.fire({
            icon: 'success',
            title: 'Solicitação Editada!',
            text: 'Solicitação editada com sucesso!'
          }).then((result) => {
            if (result.isConfirmed) {
              location.reload(); // Isso atualizará a página
            }
          });
        },
        error: function (data) {
          if (data.responseJSON && data.responseJSON.error_message) {
            Swal.fire({
              icon: 'error',
              title: 'Ops!',
              text: data.responseJSON.error_message
            });
          }
        }
      });
    }
  });
}

    
  $(function () {
  //Initialize Select2 Elements
  $('.select2').select2()

  //Initialize Select2 Elements
  $('.select2bs4').select2({
    theme: 'bootstrap4'
  })
  })
    var descricao = '{{entregavel.observacao|escapejs}}'
    $('.summernote').summernote();
    $('#obs_save_the_date').summernote('code', descricao);


    
 </script>