<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_negative">Editar Entregável</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
        <div class="row">
        
      <input style="display: none;" type="text" value="" id="entregavelID"  class="form-control" name="entregavelID">


      <div class="card-body">
        <div class="form-group" id="save_the_date_container" >
            <div class="row">
                      
            <div class="card" style="width: 100%;">
              <div class="card-header" style="background-color: #fafafa;">
                  <h3 class="card-title" style="color:#000000; font-weight: bold;"><i class="nav-icon fa fa-file"></i> {{entregavel.get_tipoentregavel_display}}</h3>
                  
              </div>
      
              <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3">
                        <div class="form-group">
                    
                        <label>Tipo</label>
        
                          <div class="input-group">
                          <span>{{entregavel.get_tipoentregavel_display}}</span>
                          </div>
                          <!-- /.input group -->
                          </div>
                        </div>


              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                <label>Prazo:</label>

                <div class="input-group">

                  {{entregavel.prazo|date:'d/m/Y'}}
                </div>
                <!-- /.input group -->
                </div>
              </div>
            
          
            <div class="col-12 col-sm-12 col-md-3">
              <div class="form-group">
              <label>Categoria do Produto:</label>

              <div class="input-group">
              {{entregavel.get_tipoproduto_display}}
              </div>
              <!-- /.input group -->
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3" id="categoria_field_save_the_date">
            <div class="form-group">
            <label>Tipo do Produto:</label>

            <div class="input-group">
             {{entregavel.categoria_produto}}
            </div>
            <!-- /.input group -->
            </div>
            </div>
            <input style="display: none;" type="text" id="entregavelId" name="entregavelId" value="{{entregavel.id}}">
            
            {% if entregavel.descricao_audio_visual %}
            <div class="col-12 col-sm-12 col-md-12" id="descricao_field_save_the_date">
          <div class="col-md-12">
            <div class="card card-dark card-outline">
              <div class="card-header">
                <h3 class="card-title">Descrição Produção de Audiovisual (Orçamentos e Execuções)</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              
                <div class="form-group">
                    <textarea id="descricao_save_the_date" name="descricao_save_the_date" class="form-control summernote" style="height: 300px"></textarea>
                </div>
              
              </div>
              <!-- /.card-body -->
            
            </div>
            <!-- /.card -->
          </div>
            </div>
            {% endif %}
            <div class="col-12 col-sm-12 col-md-12" id="observacao_field_save_the_date">
              <div class="col-md-12">
                <div class="card card-dark card-outline">
                  <div class="card-header">
                    <h3 class="card-title">Observações</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                  
                    <div class="form-group">
                        <textarea id="obs_save_the_date" name="obs_save_the_date" class="form-control summernote" style="height: 300px"></textarea>
                    </div>
                  
                  </div>
                  <!-- /.card-body -->
                
                </div>
                <!-- /.card -->
              </div>
            </div>

                        </div>
              </div>
              </div>
            </div>

      </div>
        
      </div>

      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button"n onclick="alterarEntregavel()" class="btn btn-primary">Alterar Entregável</button>
      </div>
 
    </div>
  </div>
<script>
    function alterarEntregavel(){
      var identregavel = document.getElementById('entregavelId').value
      var descricao = document.getElementById('obs_save_the_date').value
      var descricao_audiovisual = document.getElementById('descricao_save_the_date')

      if (descricao_audiovisual){
        var obs_audiovisual = descricao_audiovisual.value;
      }else{
        var obs_audiovisual = ''
      }

      Swal.fire({
      title: 'Tem certeza?',
      text: 'Ao realizar esta operação irá para análise da comunicação!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Sim',
      cancelButtonText: 'Não'
    }).then((result) => {
      if (result.isConfirmed) {

        var XCSRFToken = '{{ csrf_token }}'
        const url = "/ajax/ajax-alterar-entregavel";
        $.ajax({
            
            url: url,
            type:"post",
            data: { 'identregavel':identregavel,'descricao':descricao,'descricao_audiovisual':obs_audiovisual},
            headers: { "X-CSRFToken":  XCSRFToken },
            success: function (data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Entregável Alterado!',
                    text: "Entregável alterado e em revisão!"
                }).then((result) => {
                    // Ação a ser realizada após o botão "OK" ser clicado
                    if (result.isConfirmed) {
                        // Redirecionar ou atualizar a página aqui
                        location.reload(); // Isso atualizará a página
                    }
                });
            },
            error: function (data) {
                if (data.responseJSON && data.responseJSON.error_message) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ops!',
                        text: data.responseJSON.error_message
                    });
                }
            }
        });
      }
    });
    }

    var descricao = '{{entregavel.observacao|escapejs}}'
    $('.summernote').summernote();
    $('#obs_save_the_date').summernote('code', descricao);


    
 </script>