<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{notificacao.data|date:"d/m/Y H:i:s"}} - {{notificacao.origem.first_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>{{notificacao.descricao|safe}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal" aria-label="Close" >Fechar</button>
        {% if notificacao.readonly == 1 and notificacao.user_id == request.user.id %}
        <button type="button" onclick="MarcarNotifyRead('{{notificacao.id}}')" class="btn btn-primary">Marcar como Lida</button>
        {% endif %}
      </div>
    </div>
  </div>