<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_negative">Editar Tarefa</h5>
        <button type="button" class="close" onclick="fecharModal('editarTarefa')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <form id="formAlteraTarefa" method="POST"  enctype="multipart/form-data">
      <div class="modal-body">
        <div class="row">
        
      <input style="display: none;" type="text" value="{{tarefa.id}}" id="tarefa_edit_id"  class="form-control" name="tarefa_edit_id">

          
      <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label>Título da Tarefa:</label>
    
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i style="color: #000000" class="fa fa-file"></i></span>
             
            </div> 
           <input type="text" name="titulo_tarefa_edit" id="titulo_tarefa_edit" class="form-control" value="{{tarefa.titulo_tarefa}}">
          </div>
          <!-- /.input group -->
        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-4">
        <div class="form-group">
          <label>Prazo de Entrega:</label>
    
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i style="color: #000000" class="fa fa-calendar"></i></span>
             
            </div> 
           <input type="date" name="prazo_modal_edit" id="prazo_modal_edit" class="form-control" value="{{tarefa.prazo_entrega|date:'Y-m-d'}}">
          </div>
          <!-- /.input group -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4">
        <div class="form-group">
          <label>Prioridade:</label>
    
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i style="color: #000000" class="fa fa-calendar"></i></span>
             
            </div> 
            <select  class="form-control" id="prioridade_modal_edit" name="prioridade_modal_edit">
              <option value="1" {% if tarefa.prioridade == 1 %} selected {% endif %}>Normal</option>
              <option value="2" {% if tarefa.prioridade == 2 %} selected {% endif %}>Prioridade</option>
            </select>
          </div>
          <!-- /.input group -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4">
        <div class="form-group">
          <label>Status da Tarefa:</label>
    
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i style="color: #000000" class="fa fa-calendar"></i></span>
             
            </div> 
            <select  class="form-control" id="status_tarefa_edit" name="status_tarefa_edit">
            <option value="4">Manter</option>
              <option value="0">A Fazer</option>
              <option value="1">Fazendo</option>
              <option value="2">Em Revisão</option>
              <option value="3">Concluído</option>
            </select>
          </div>
          <!-- /.input group -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label>Descrição:</label>
    

            <textarea style="width: 100%;" name="descricao_task_edit" id="descricao_task_edit" class="form-control summernote" style="height: 300px"></textarea>
          
       
          <!-- /.input group -->
        </div>
      </div>

  

      </div>
    </div>
</form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="fecharModal('editarTarefa')">Fechar</button>
        {% if '11' in permissoes.permissao %}
        <button type="button" onclick="alteraTarefa()" class="btn btn-primary">Alterar Tarefa {{permissoes.permissao}}</button>
        {% endif %}
      </div>
 
    </div>
  </div>
<script>

    function fecharModal(id){
        $("#"+id).modal('hide')
    }

    function alteraTarefa() {
    var form = document.getElementById("formAlteraTarefa");
    var formData = new FormData(form);

    Swal.fire({
        title: 'Tem certeza?',
        text: 'Confirma a alteração desta tarefa?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            var XCSRFToken = '{{ csrf_token }}';
            const url = "/ajax/realiza-alteracao-task";
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                headers: { "X-CSRFToken": XCSRFToken },
                processData: false,  // Evita que o jQuery transforme os dados em uma string
                contentType: false,  // Evita que o jQuery defina o cabeçalho Content-Type
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Tarefa Editada!',
                        text: "Tarefa editada com sucesso!"
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            // Redirecionar ou atualizar a página aqui
                            location.reload(); // Isso atualizará a página
                        }
                    });
                },
                error: function (data) {
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}





    var descricao_task = '{{tarefa.descricao_tarefa|escapejs}}'
      $('.summernote').summernote();
      $('#descricao_task_edit').summernote('code', descricao_task);
</script>