<form id="formTarefas" method="POST"  enctype="multipart/form-data">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{tarefa.titulo_tarefa}}</h5>

        <button type="button" class="close" onclick="fecharModal('exampleModalCenter')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          {% if '3' in permissoes.permissao %}
          <div class="col-12 col-sm-12 col-md-3">
            <div class="form-group">
              
            <label>Data da Solicitação:</label>

              <div class="input-group">
               
               {{tarefa.data_tarefa|date:'d/m/Y'}}
              </div>
              <!-- /.input group -->
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3">
              <div class="form-group">
                
              <label>Prazo de Entrega::</label>
  
                <div class="input-group">
                 
                 {{tarefa.prazo_entrega|date:'d/m/Y'}}
                </div>
                <!-- /.input group -->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3">
                <div class="form-group">
                  
                <label>Solicitante:</label>
    
                  <div class="input-group">
                   
                   {{tarefa.usuario_designou.first_name}}
                  </div>
                  <!-- /.input group -->
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3">
                  <div class="form-group">
                    
                  <label>Prioridade:</label>
      
                    <div class="input-group">
                     
                      {% if tarefa.prioridade == 1 %}   <span class="badge bg-primary" style="padding: 5px;"> {{tarefa.get_prioridade_display}}</span> {% else %} <span class="badge bg-danger" style="padding: 5px;"> {{tarefa.get_prioridade_display}}</span>{% endif %}
                    </div>
                    <!-- /.input group -->
                    </div>
                  </div>
                  {% if tarefa.descricao_tarefa %}
                  <div class="col-12 col-sm-12 col-md-12">
                    <div id="accordion">
                      <div class="card card-warning">
                        <div class="card-header">
                          <h4 class="card-title w-100">
                            <a class="d-block w-100" data-toggle="collapse" href="#collapseDescricao">
                            Descrição da Tarefa
                            </a>
                          </h4>
                        </div>
                        <div id="collapseDescricao" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                         <span>{{tarefa.descricao_tarefa|safe}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    </div>

                
                    {% endif %}
                    {% endif %}
                    <div class="col-lg-3 col-12">
                      <div class="form-group">
                          <label>Tipo do Entregável:</label>
                          <div class="input-group">
                            {% if tarefa.entregavel.get_tipoentregavel_display %}
                            {{tarefa.entregavel.get_tipoentregavel_display}}
                            {% else %}
                            Não Informado
                            {% endif %}
                            
                        
                          </div>
                          <!-- /.input group -->
                      </div>
                    </div>

                    <div class="col-lg-3 col-12">
                      <div class="form-group">
                          <label>Categoria do Produto:</label>
                          <div class="input-group">
                            {% if tarefa.entregavel.get_tipoproduto_display %}
                            {{tarefa.entregavel.get_tipoproduto_display}}
                            {% else %}
                            Não Informado
                            {% endif %}
                            
                        
                          </div>
                          <!-- /.input group -->
                      </div>
                    </div>

                    <div class="col-lg-3 col-12">
                      <div class="form-group">
                          <label>Tipo do Produto:</label>
                          <div class="input-group">
                            {% if tarefa.entregavel.categoria_produto %}
                            {{tarefa.entregavel.categoria_produto}}
                            {% else %}
                            Não Informado
                            {% endif %}
                            
                        
                          </div>
                          <!-- /.input group -->
                      </div>
                    </div>

                    <div class="col-lg-3 col-12">
                      <div class="form-group">
                          <label>Data da Solicitação:</label>
                          <div class="input-group">
                            {% if tarefa.entregavel.data_solicitacao %}
                            {{tarefa.entregavel.data_solicitacao|date:'d/m/Y'}}
                            {% else %}
                            Não Informado
                            {% endif %}
                            
                        
                          </div>
                          <!-- /.input group -->
                      </div>
                    </div>
                  
                   
                    {% if tarefa.entregavel.descricao_audio_visual %}
                    
                    <div class="col-12 col-sm-12 col-md-12">
                      <div class="card" style="width: 100%;">
                          <div class="card-header" style="background-color: #fafafa;">
                            <label for="">Descrição Audiovisual</label>
                            
                          </div>
                            
                          <div class="card-body">
                           <div class="row">
                            {% if tarefa.entregavel.descricao_audio_visual %}
                            {{tarefa.entregavel.descricao_audio_visual|safe}}
                            {% else %}
                            Sem descrições
                            {% endif %}
                           </div>
                          </div>
                      </div>
                    </div>

                   
                    {% endif %}

                    {% if tarefa.entregavel.observacao %}
                    <div class="col-12 col-sm-12 col-md-12">
                    <div id="accordion">
                      <div class="card card-primary">
                        <div class="card-header">
                          <h4 class="card-title w-100">
                            <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                            Observações Gerais
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                            {% if tarefa.entregavel.observacao %}
                            <span>{{tarefa.entregavel.observacao|safe}}</span>
                            {% else %}
                            Sem observações
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                   
         
                    {% endif %}

                    {% if tarefa.entregavel.exemplo_arte %}
                    <div class="col-12 col-sm-12 col-md-12">
                      <div id="accordion">
                        <div class="card card-primary">
                          <div class="card-header">
                            <h4 class="card-title w-100">
                              <a class="d-block w-100" data-toggle="collapse" href="#collapsetwo">
                             Exemplos de Artes
                              </a>
                            </h4>
                          </div>
                          <div id="collapsetwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-sm-2">
                                  {% if '.jpg' in tarefa.entregavel.exemplo_arte or '.png' in tarefa.entregavel.exemplo_arte or '.jpeg' in tarefa.entregavel.exemplo_arte %}
                                  <a style="width: 100%;" href="{{tarefa.entregavel.exemplo_arte}}" data-toggle="lightbox" data-title="Exemplo de Arte" data-gallery="gallery">
                                    <img src="{{taarefa.entregavel.exemplo_arte}}" class="img-fluid mb-2" alt="white sample"/>
                                  </a>
                                  
                                  {% else %}
                                  <a href="{{tarefa.entregavel.exemplo_arte}}" class="btn btn-app">
                                    <i class="fas fa-file"></i> Download
                                  </a>
                                 
                                  {% endif %}
                                </div>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      </div>

                    {% endif %}
                      {% if 'solicitacoes/visualizar' not in url_atual %}
                    <div class="col-12 col-sm-12 col-md-12">
                      <div id="accordion">
                        <div class="card card-primary">
                          <div class="card-header">
                            <h4 class="card-title w-100">
                              <a class="d-block w-100" data-toggle="collapse" href="#collapsetree">
                             Tarefas Relacionadas
                              </a>
                            </h4>
                          </div>
                          <div id="collapsetree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                              <table style="margin-top: 10px; font-size: 12px;">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Data da Solicitação</th>
                                    <th>Título</th>
                                    <th>Prazo de Entrega</th>
                                    <th>Data da Entrega</th>
                                    <th>Usuário Designado</th>
                                    <th>Prioridade</th>
                                    <th>Status</th>
                                   
            
                                    
                                  </tr>
                                </thead>
                                <tbody >
                        
                              
                                  {% for tarefa in allTasks  %}
                                    <tr  onclick="modalTarefaBacklog('{{tarefa.id}}')">
              
                                     <td>#{{tarefa.id}}</td>
                                     <td>{{tarefa.data_tarefa|date:'d/m/Y'}}</td>
                                     <td>{{tarefa.titulo_tarefa}}</td>
                                     <td>{{tarefa.prazo_entrega|date:'d/m/Y'}}</td>
                                     <td>{% if tarefa.data_entrega %} {{tarefa.data_entrega|date:'d/m/Y'}} {%else%} Aguardando Entrega {% endif %}</td>
                                     <td>{{tarefa.usuario.first_name}}</td>
                                     <td>{% if tarefa.prioridade == 1 %}   <span class="badge bg-primary" style="padding: 5px; width: 100%;"> {{tarefa.get_prioridade_display}}</span> {% else %} <span class="badge bg-danger" style="padding: 5px; width: 100%;"> {{tarefa.get_prioridade_display}}</span>{% endif %}</td>
                                     
                                     <td>
                                      {% if tarefa.status == 0 %}
                                      <span class="badge bg-warning" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>

                                        {% elif tarefa.status == 1 %}
                                        <span class="badge bg-warning" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>
                                       
                                        {% elif tarefa.status == 2 %}
                                        <span class="badge bg-danger" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>

                                        {% elif tarefa.status == 3 %}
                                        <span onclick="editarEntregavel('{{entregavel.id}}')" class="badge bg-success" style="padding: 5px; width: 100%;"> {{tarefa.get_status_display}}</span>
                                      {% endif %}
                                     </td>

                               
                                    </tr>
                            
                                  {% endfor %}
                                </tbody>
                                
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                      {% endif %}
                      <div class="col-12 col-sm-12 col-md-12">
                        <div id="accordion">
                          <div class="card card-primary">
                            <div class="card-header">
                              <h4 class="card-title w-100">
                                <div class="row">
                                <div class="col-9 col-sm-9 col-md-9">
                                  <a class="d-block w-100" style="padding: 5px 0;" data-toggle="collapse" href="#collapseDadosSolicitacao">
                                    Dados da Solicitação 
                                     </a>
                                </div>

                                <div class="col-3 col-sm-3 col-md-3">
                                  <a style="font-size: 15px; width: 100%;" href="/solicitacoes/visualizar/{{solicitacao.id}}" class="btn bg-warning">
      
                                    <i class="fas fa-link"></i> <B> Acessar Solicitação</B>
                                  </a>
                            
                                </div>
                              </div>
                              </h4>
                            </div>
                            <div id="collapseDadosSolicitacao" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                <div class="card-body">
                                <div class="row">
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Evento:</label>
                                       <div class="input-group">
                                         {% if solicitacao.evento_json.titulo_evento %}
                                           {{solicitacao.evento_json.titulo_evento}}
                                         {% else %}
                                         
                                           {% if solicitacao.evento_json.tipo_formatado == None %}
                                             Não Informado
                                           {% else %}
                                             {{solicitacao.evento_json.tipo_formatado}}
                                           {% endif %}
                                             
                                         {% endif %}
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                   
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Data de Início: </label>
                                       <div class="input-group">
                                       {% if solicitacao.evento_json.titulo_evento %}
                                         {{solicitacao.evento_json.data_inicio}}
                                       {% else %}
                                       
                                       {% if solicitacao.evento_json.data_inicio_formatada == None%}
                                         Não Informado
                                       {% else %}
                                        {{solicitacao.evento_json.data_inicio_formatada}}
                                       {% endif %}
                                           
                                       {% endif %}
       
                                        
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                   
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Data Final:</label>
                                       <div class="input-group">
                                         {% if solicitacao.evento_json.titulo_evento %}
                                         {{solicitacao.evento_json.data_fim}}
                                       {% else %}
                                       
                                       {% if solicitacao.evento_json.data_fim_formatada == None%}
                                         Não Informado
                                       {% else %}
                                         {{solicitacao.evento_json.data_fim_formatada}}
                                       {% endif %}
                                           
                                       {% endif %}
       
                                        
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                                 {% if solicitacao.publico_evento %}
                                 <div class="col-lg-3 col-4">
                                   <div class="form-group">
                                       <label>Público do Evento:</label>
                                       <div class="input-group">
                                         {{solicitacao.publico_evento}}
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                                 {% endif %}
       
       
                                 {% if solicitacao.evento_json.endereco %}
                                 <div class="col-lg-3 col-3">
                                   <div class="form-group">
                                       <label>Unidade:</label>
                                       <div class="input-group">
                   
                                         {{escola.nome}}
                           
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
       
                                 <div class="col-lg-9 col-9">
                                   <div class="form-group">
                                       <label>Endereço:</label>
                                       <div class="input-group">
                   
                                         {{solicitacao.evento_json.endereco}}
                           
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                                 {% else %}
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Logradouro:</label>
                                       <div class="input-group">
                                         {% if solicitacao.evento_json.logradouro == None %}
                                         Não Informado
                                         {% else %}
                                         {{solicitacao.evento_json.logradouro}}
                                         {% endif %}
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                   
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Bairro:</label>
                                       <div class="input-group">
                                         {% if solicitacao.evento_json.bairro == None %}
                                         Não Informado
                                         {% else %}
                                         {{solicitacao.evento_json.bairro}}
                                         {% endif %}
                                         
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                   
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Complemento:</label>
                                       <div class="input-group">
                                        {% if solicitacao.evento_json.complemento == None %}
                                        Não Informado
                                        {% else %}
                                        {{solicitacao.evento_json.complemento}}
                                        {% endif %}
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
       
                                 <div class="col-lg-3 col-12">
                                   <div class="form-group">
                                       <label>Cidade:</label>
                                       <div class="input-group">
                                        {% if solicitacao.evento_json.CIDADE == None %}
                                        Não Informado
                                        {% else %}
                                        {{solicitacao.evento_json.cidade}}
                                        {% endif %}
                                     
                                       </div>
                                       <!-- /.input group -->
                                   </div>
                                 </div>
                                 {% endif %}
                             
                                 {% if programacao_adicional %}
                                 <div class="col-12 col-sm-12 col-md-12">
                                   <div class="card" style="width: 100%;">
                                       <div class="card-header" style="background-color: #fafafa;">
                                         <label for="">Programação do Evento</label>
                                         
                                       </div>
                                         
                                       <div class="card-body">
                                        <div class="row">
                                           <table style="margin-top: 10px;">
                                               <thead>
                                                 <tr>
                                                   <th>Data</th>
                                                   <th>Hora</th>
                                                   <th>Hora Final</th>
                                                   <th>Atividade</th>
                                                 </tr>
                                               </thead>
                                               <tbody>
                       
                                                   {% for programacao in programacao_adicional %}
                                                   <tr>
                                                       <td>{{programacao.data|date:'d/m/Y'}}</td>
                                                       <td>{{programacao.hora}}</td>
                                                       <td>{{programacao.hora_final}}</td>
                                                       <td>{{programacao.atividade}}</td>
                                                   {% endfor %}
                                                   </tr>
                                               </tbody>
                                           </table>
                                        </div>
                                       </div>
                                   </div>
                                 </div>
                                 {% endif %}
                                 
                                 {% if solicitacao.briefing %}
                                 <div class="col-12 col-sm-12 col-md-12">
                                   <div class="card" style="width: 100%;">
                                       <div class="card-header" style="background-color: #fafafa;">
                                         <label for="">Briefing</label>
                                       </div>
                                         
                                       <div class="card-body">
                                        <div class="row">
                                         <span>{{solicitacao.briefing|safe}}</span>
                                        </div>
                                       </div>
                                   </div>
                                 </div>
                                 {% endif %}
                                 
                                                               
                                </div>
                               </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        </div>
                    {% if tarefa.descricao_entrega %}
                    <div class="col-12 col-sm-12 col-md-12">
                      <div id="accordion">
                        <div class="card card-primary">
                          <div class="card-header">
                            <h4 class="card-title w-100">
                              <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                             Descrição da Entrega
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                              {{tarefa.descricao_entrega|safe}}
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                   
                    {% endif %}
                
                    {% if arquivos %}
                    <div class="col-12 col-sm-12 col-md-12">
                      <div id="accordion">
                        <div class="card card-primary">
                          <div class="card-header">
                            <h4 class="card-title w-100">
                              <a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
                             Arquivos
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFive" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                              {% for arquivo in arquivos %}
                              <a href="{{arquivo}}" class="btn btn-app">
                                <i class="fas fa-file"></i> Download
                              </a>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                    {% endif %}
               
                    {% if tarefa.status == 1 and 'solicitacoes/visualizar' not in url_atual or tarefa.status == 2 and 'solicitacoes/visualizar' not in url_atual %}

                    <div class="col-12 col-sm-12 col-md-12">
                      <div class="card" style="width: 100%;">
                          <div class="card-header" style="background-color: #fafafa;">
                            <label for="">Arquivos: <span class=" badge bg-warning" ></label>
                            
                          </div>
                            
                          <div class="card-body">
                         
                            <input type="file" name="arquivos_task" id="arquivos_task" multiple>
                        
                          </div>
                      </div>
                    </div>
                   
                   

                    <div class="col-12 col-sm-12 col-md-12">
                      <div class="card" style="width: 100%;">
                          <div class="card-header" style="background-color: #fafafa;">
                            <label for="">Entrega: <span class=" badge bg-warning" ><i class="bi bi-info-circle-fill"></i> <b>Para adicionar imagens, arraste e solte :)</b></span></label>
                            
                          </div>
                            
                          <div class="card-body">
                         
                            <textarea name="entrega_backlog" id="entrega_backlog" class=" summernote" rows="10"></textarea>
                        
                          </div>
                      </div>
                    </div>
                    {% endif %}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="fecharModal('exampleModalCenter')">Fechar</button>



        {% if tarefa.status == 0 and 'solicitacoes/visualizar' not in url_atual %}
        <button type="button" onclick="MoveTarefa('{{tarefa.id}}',1)" class="btn btn-primary"> <i class="bi bi-arrow-90deg-right"></i> Mover para Fazendo</button>
        {% elif tarefa.status == 1 and 'solicitacoes/visualizar' not in url_atual%}
        <button type="button" onclick="MoveTarefa('{{tarefa.id}}',0)" class="btn btn-primary"> <i class="bi bi-arrow-90deg-left"></i> Voltar para A Fazer</button>
        <button type="button" onclick="MoveTarefa('{{tarefa.id}}',3)" class="btn btn-success"> <i class="bi bi-check-lg"></i> Concluir Tarefa</button>
        {% endif %}
        {% if 'solicitacoes/visualizar' in url_atual and '11' in permissoes.permissao %}
        <button type="button" onclick="editarTarefa('{{tarefa.id}}',1)" class="btn btn-primary"> <i class="bi bi-pencil"></i> Editar Tarefa</button>
        {% endif %}

        {% if tarefa.status == 2 and 'solicitacoes/visualizar' not in url_atual%}
        <button type="button" onclick="MoveTarefa('{{tarefa.id}}',3)" class="btn btn-success"> <i class="bi bi-check-lg"></i> Concluir Tarefa</button>
      {% endif %}
      </div>
    </div>
  </div>
  </form>
 
  <div class="modal" id="editarTarefa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">  </div>
  <div class="modal  fade" id="viewTaskBackLog" tabindex="-1"  aria-labelledby="viewTaskBackLog" style="display: none;" aria-hidden="true"></div>
   

  <script>
function editarTarefa(idtask){
     
  url = '/ajax/edit-task'

  $.ajax({
  url: url,
  data: {'tarefaId':idtask},

  success: function(data) {

    $("#editarTarefa").html(data);
    $("#editarTarefa").modal('show')
  },
  error: function(xhr, status, error) {
    Swal.fire({
          icon: 'error',
          title: 'Ops!',
          text: 'Não foi possível obter resultados!'
        });
  }
  });
}

function modalTarefaBacklog(tarefaId){

  url = 'ajax/view-task-ftask'
  var urlAtual = window.location.href
  $.ajax({
  url: url,
  data: {'tarefaId':tarefaId,'urlAtual':urlAtual},

  success: function(data) {

    $("#viewTaskBackLog").html(data);
    $("#viewTaskBackLog").modal('show')
  },
  error: function(xhr, status, error) {
    Swal.fire({
          icon: 'error',
          title: 'Ops!',
          text: 'Não foi possível obter resultados!'
        });  $('.summernote').summernote();
  }
  });
  }

  function fecharModalTaskView(id) {
    const url = window.location.href;

    // Verifica se a string "minhas-tarefas" está presente na URL
    if (url.includes("minhas-tarefas")) {
      $("#" + id).modal('hide');
    } else {
      $("#" + id).on('hidden.bs.modal', function () {
        const bodyElement = document.body;
        bodyElement.classList.add("sidebar-mini", "layout-fixed", "light-mode", "modal-open");
    });
    }


}


  $('.summernote').summernote();
  </script>